.section-feature-products {
    
    margin-top: 50px;
    padding: 0 20px;
    min-width: 320px;
    max-width: 368px;

}

@media screen and (min-width: 768px)  {


    .section-feature-products {
    
        margin-top: 50px;
        padding: 0 20px;
        min-width: 320px;
        max-width: 568px;
    
    }

}


@media screen and (min-width: 1024px)  {


    .section-feature-products {
    
        margin-top: 50px;
        padding: 0 20px;
        min-width: 320px;
        max-width: 968px;
    
    }

}